.Main {
  padding-top: 70px;
}
.test {
  width: 100%;
  max-height: 500px;
  display: flex;
  justify-content: center;
}
.Img {
  width: 100%;
  height: 550px;
}

@media only screen and (max-width: 600px) {
  .Main {
    padding-top: 40px;
  }
  .Img {
    width: 100%;
    height: 100px;
  }
  .test {
    width: 100%;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
