.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
}
.img {
  width: 200px;
  height: 150px;
  border-radius: 10px;

}
.cardImg {
  background-color: khaki;  
  max-width: 200px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.cardText {
  width: 100%;
  display: flex;
}
.txt {
  font-size: 24px;
  font-weight: 50;
  color: black;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  .txt{
    width: 150px;
    margin-bottom: 10px;
  }
  .cardImg {
    background-color: khaki;  
    max-width: 150px;
  }
  .img {
    width: 150px;
    height: 100px;
  }
}
