.Main {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
}
.bigBox {
  //   background-color: red;
  box-shadow: 0px 0px 20px 0px rgba(112, 112, 112, 0.75);
  // margin-left: 350px;
  // margin-right: 350px;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  width: 650px;
}
.HeadText {
  font-size: 32px;
  font-weight: 700;
}
.SecondText {
  font-size: 25px;
  font-weight: 300;
  color: #6f6f6f;
}
.facebook {
  background-color: #1877f2;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email {
  background-color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  font-size: 25px;
  color: white;
}
.or {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 300;
  color: #6f6f6f;
}
.input {
  height: 60px;
  width: 100%;
  font-size: 25px;
  font-weight: lighter;
  padding-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.registerText {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .Main {
    padding-top: 40px;
  }
}
