.header {
  font-size: 50px;
  font-weight: 400;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 80px;
  display: flex;
}
.add{
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffd233;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.add:hover{
  background-color: red;
  cursor: pointer;
}
.modal{
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 400;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input[type=number] {
  -moz-appearance: textfield;
}
.inputGroup{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.inputt{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  height: 30px;
  border-radius: 2px;
}
.test{
  height: 30px;
}
.submit{
  background-color: #ffd233;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 2px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(50, 50, 50);
}
.submit:hover{
  background-color: red;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .header {
    font-size: 40px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-bottom: 10px;
  }
  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    width: 250px;
    height: 500px;
    // background-color: black;
    // border: 2px solid #000;
    // boxShadow: 24;
    // p: 4;
  }
}
