.Main {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  position: fixed;
  height: 70px;
}
.logoText {
  font-size: 32px;
  padding-left: 10px;
}
.logoImg {
  width: 60px;
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  padding: 5px 0 5px 20px;
}
.latestLogo {
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 0;
}
.middleDivider {
  height: 50% !important;
}
.iconNav {
  padding: 0 20px;
}
.icon {
  width: 32px;
  display: flex;
  align-items: center;
}

.Hamburger {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Main {
    height: 40px;
  }
  .logoImg {
    width: 25px;
  }
  .logo {
    padding-left: 10px;
  }
  .latestLogo {
    padding-right: 10px;
  }
  .logoText {
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
  }
  .icon {
    width: 20px;
  }
  .iconNav {
    padding: 0 15px;
  }

  // .latestLogo {
  //   display: none;
  // }

  // .Hamburger {
  //   display: block;
  // }
}
