.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: flex-start;
    background-color: #FFC061;
    padding-left: 80px;
    padding-top: 10px;
  }
  .box1{
    display: flex;
    flex-direction: column;
  } 
  .txt{
    font-size: 12px;
    color: black;
    text-decoration: none;
    // padding-left: 5px;
  }
  .headTxt{
    font-size: 16px;
    font-weight: 100;
  }