.Main {
  padding-top: 70px;
}
.grid {
  display: grid;
  grid-template-columns: 4fr 4fr;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  //   box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.75);
}
.img {
  width: 600px;
  height: 400px;
}
.BoxImg {
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 50px;
}
.HeadMenu {
  font-size: 60px;
  font-weight: bold;
  cursor: context-menu;
}
.PriceMenu {
  font-size: 32px;
  color: #515151;
  font-weight: lighter;
  cursor: context-menu;
}

.buttonGroup {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.decreaseItem {
  background-color: #ffd233;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: context-menu;
}
.decreaseItem:hover {
  background-color: red;
  cursor: pointer;
}
.increaseItem {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #ffd233;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: context-menu;
}
.increaseItem:hover {
  background-color: red;
  cursor: pointer;
}
.input {
  height: 25px;
  width: 30px;
  border: none;
  text-align: center;
  border-radius: 0;
  border-top: 0.5px solid rgba(202, 202, 202, 0.3);
  border-bottom: 0.5px solid rgba(202, 202, 202, 0.3);
}
.buying {
  margin-left: 30px;
  background-color: #ffd233;
  height: 25px;
  width: 50px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  color: black;
  text-decoration: none !important;
}
.buying:hover {
  text-decoration: none;
  background-color: red;
}
.buying2 {
  margin-top: 20px;
  // background-color: #ffd233;
  // text-decoration: underline;
  height: 25px;
  width: 120px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  color: black;
  text-decoration: none !important;
  cursor: pointer;

}
@media only screen and (max-width: 600px) {
  .Main {
    padding-top: 40px;
  }
  .grid {
    display: flex;
    flex-direction: column;
  }
  .img {
    width: 100%;
    height: 100%;
  }
  .BoxImg {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    margin-top: 0px;
  }
  .buying:hover {
    text-decoration: none;
    background-color: #ffd233;
  }
  .increaseItem:hover {
    background-color: #ffd233;
    cursor: pointer;
  }
  .decreaseItem:hover {
    background-color: #ffd233;
    cursor: pointer;
  }
}
